@model StudaGram.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<script>
    function incrementLike(id) {
        $.post("/api/like/" + id).then(function (result) {
            $("#likeCount" + id).html(result.Likes);
        });
    }
</script>

<div class="jumbotron">
    <h1>Velkommen til InstaStudentGram</h1>
  
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @for (var i = 0; i < Model.Images.Count; i++)
            {
                <li data-target="#carousel-example-generic" data-slide-to="@i" class="@(i==0?"active":"")"></li>
            }
            
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
        @for (var i = 0; i < Model.Images.Count; i++) { 
                <div class="item@(i==0?" active":"")">
                <img src="@Model.Images[i].Url" alt="@Model.Images[i].Title">
                <div class="carousel-caption">
                   <p>@Model.Images[i].Description</p>
                   <p>@Model.Images[i].Uploaded.ToString("F")</p>
                    <div id="likeCount@(Model.Images[i].RowKey)">@Model.Images[i].Likes</div>
                    <a href="javascript:;" onclick="incrementLike('@Model.Images[i].RowKey');">Like</a>
                </div>
            </div>
        }
                      
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>