@model StudaGram.Models.UploadModel
@{
    ViewBag.Title = "Upload";
}

    <h2>Upload image</h2>
<hr/>
    <form class = "form-horizontal" role = "form" method="post" action="" enctype="multipart/form-data">

        <div class="image-title">
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
        </div>

            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                <br />
            </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-default" type="file" id="@Html.IdFor(m => m.UploadedFile)" name="@Html.NameFor(m => m.UploadedFile)" />
                <input class="btn btn-default" type="submit" />
            </div>
        </div>

    </form>

